*.user
*.user.*
*.exe
*.bin
*.bak
*.autosave

program/compiled/release/Makefile
program/compiled/release/*.Debug
program/compiled/release/*.Release
program/compiled/release/*.h
program/compiled/release/debug/*
program/compiled/release/release/*
program/compiled/release/AlarmClock.app
program/compiled/release/AlarmClock.app/*
program/compiled/release/*.o
program/compiled/release/*.cpp
program/compiled/release/*.cache

program/compiled/debug/Makefile
program/compiled/debug/*.Debug
program/compiled/debug/*.Release
program/compiled/debug/*.h
program/compiled/debug/debug/*
program/compiled/debug/release/*
program/compiled/debug/AlarmClock.app
program/compiled/debug/AlarmClock.app/*
program/compiled/debug/*.o
program/compiled/debug/*.cpp
program/compiled/debug/*.cache

program/deployed/windows/*.dll
